@tailwind base;
@tailwind components;
@tailwind utilities;

.whole-page {
    background: url('/bg.png') no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}